
/*通用配置*/
* {padding: 0;margin: 0;background: none;box-sizing: border-box;font-size: 14px;}
body,div,h1,h2,p,ol,ul,li,table,thead,tbody,tr,td,th{border: 0;font-family: "Microsoft YaHei"}
button, input, select, textarea {font-size: 14px;outline:none;color:#333333;}
h1, h2, h3, h4 {font-weight: normal;}
address, caption, cite, code, dfn, em, strong,  var, b, i {font-style: normal;font-weight: normal;color:#575757;font-size: 14px;}
pre, code {}
a:link,a:hover,a:visited {text-decoration:none;}
a{
	color: #333;
}
input[type="text"]{
	padding-left: 10px;
	height: 34px;
	width: 215px;
}
select{
	height: 34px;
	width: 215px;
	color: #555;
	border-radius:2px;
	
	border:1px solid #e6e7eb;
	cursor:text;
}

select option:first-child{color: #cccccc}
ul,li,ol {list-style:none;}
/*清除浮动*/
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix {zoom:1;/*兼容*/}
.fl {float:left;}
.fr {float:right;}
/*旋转*/
.rotate{transform:rotate(90deg);-ms-transform:rotate(90deg);-moz-transform:rotate(90deg);-webkit-transform:rotate(90deg);-o-transform:rotate(90deg);}
.rotateTwo {transform:rotate(-180deg);-ms-transform:rotate(-180deg);-moz-transform:rotate(-180deg);-webkit-transform:rotate(-180deg);-o-transform:rotate(-180deg);}
/*鼠标手型和button的样式(删除边框和背景)*/
input,button {cursor: pointer;outline:none;border:none;border-radius:2px;}
input[type="text"],input[type="password"]{border:1px solid #e6e7eb;cursor:text;}
input[type="text"]:focus,input[type="password"]:focus,select:focus{border:1px solid #26C3BA;}
input[type="text"]:hover,input[type="password"]:hover,select:hover{border:1px solid #26C3BA;}
textarea{border:1px solid #e6e7eb;cursor:text;}
textarea:focus{border:1px solid #26C3BA;}
textarea:hover{border:1px solid #26C3BA;}
textarea{
	width: 215px;
	color: #555;
	height: 72px;
}



